# --- OIDC / Keycloak Client Config ---
OIDC_RP_CLIENT_ID=django-app
OIDC_RP_CLIENT_SECRET=maie fyxm kzlx tyur
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=global-exchange
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# --- Database Config ---
DB_NAME=global_exchange
DB_USER=postgres
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=5432

# --- Email / Mailhog Config ---
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
DEFAULT_FROM_EMAIL=noreply@globalexchange.com
EMAIL_TOKEN_EXPIRATION_HOURS=24

# --- App Settings ---
DEBUG=True
APP_BASE_URL=http://localhost:8000
